ion-content{
    ion-title.header{
        text-align: center;
        font-family: 'Molle', cursive;
        font-size: 50px;
        margin-top: 12%; 
    }
    ion-grid{
        ion-row.placements{
            ion-col{
                padding-top: 10px;
            }
            ion-col.lower_numbers{
                padding-top: 30px;
            }
        }
        ion-row.images{
            ion-col{
                
                .first_place{
                    margin-top: -15px;
                }
            }
        }
        
    }
    ion-list{
        background: transparent !important;
        ion-item{
            --background: transparent !important;
        }
        ion-text.placement{
            width: 40px;
        }
        div{
            margin-left: 15px;
            ion-label.username{
                font-size: 16px;
                font-family: 'Inter', sans-serif;
            }
            ion-label.score{
                font-size: 13px;
                color: var(--ion-color-tertiary);
                font-family: 'Inter', sans-serif;
            }
        }
    }
}

.scores{
    color: var(--ion-color-tertiary);
}

ion-row{
            ion-col.first_place{
                    top: -15px;
            }
        }