<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="scoreboard">
      <ion-icon src="assets/tab-icons/scoreboard.svg"></ion-icon> 
    </ion-tab-button>

    <ion-tab-button tab="fight">
      <ion-icon src="assets/tab-icons/fight.svg"></ion-icon> 
    </ion-tab-button> 
    
    <ion-tab-button tab="plant"> 
      <ion-icon src="assets/tab-icons/plant.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications"> 
      <ion-icon *ngIf="!notifications" src="assets/tab-icons/notifications.svg"></ion-icon>
      <ion-icon *ngIf="notifications" src="assets/tab-icons/unread-notifications.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings"> 
      <ion-icon src="assets/tab-icons/settings.svg"></ion-icon>  
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>