<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Choose your first plant!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../../assets/plant-icons/aloe_vera.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../../assets/plant-icons/jasmine.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../../assets/plant-icons/Maikeru_Echeverias_Plant_in_a_pot_plant_for_a_website_realistic_78ddd684-ea36-47a1-ad69-a51cff1f0369.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../../assets/plant-icons/Maikeru_English_Ivy_Plant_in_a_pot_plant_for_a_website_realisti_f9025b26-55a7-40df-a100-02ebc7b6271b.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../../assets/plant-icons/Maikeru_Jasmine_Plant_in_a_pot_plant_for_a_website_realistic_wh_b4f1528c-6344-426e-b3e9-8b05ef2b591b.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../../assets/plant-icons/Maikeru_Snake_Plant_in_a._pot_plant_for_a_website_realistic_whi_d1fe82c7-d8a6-4cca-8a50-8b1c87b71bb3.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
