<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Choose your first plant!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="choosePlant('Aloe Vera')" [ngStyle]='activePlant == "Aloe Vera" ? {"border": "8px white solid"} : {"border": "none"}'>
          <img src="../../../assets/plant-icons/aloe_vera.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="choosePlant('Cactus')" [ngStyle]='activePlant == "Cactus" ? {"border": "8px white solid"} : {"border": "none"}'>
          <img src="../../../assets/plant-icons/cactus.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="choosePlant('Basilicum')" [ngStyle]='activePlant == "Basilicum" ? {"border": "8px white solid"} : {"border": "none"}'>
          <img src="../../../assets/plant-icons/basilicum.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="choosePlant('Lavender')" [ngStyle]='activePlant == "Lavender" ? {"border": "8px white solid"} : {"border": "none"}'>
          <img src="../../../assets/plant-icons/lavender.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="choosePlant('Mini Palm Trees')" [ngStyle]='activePlant == "Mini Palm Trees" ? {"border": "8px white solid"} : {"border": "none"}'>
          <img src="../../../assets/plant-icons/mini_palm_trees.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="choosePlant('Calathea Crocata')" [ngStyle]='activePlant == "Calathea Crocata" ? {"border": "8px white solid"} : {"border": "none"}'>
          <img src="../../../assets/plant-icons/calathea_crocata.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button style="padding-left: 10px; padding-right: 10px;" [disabled]="!activePlant.trim()" color="light" expand="block" shape="round">
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    Continue
  </ion-button> 
</ion-content>
