<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>plant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-wrap" size="large">{{ plantLel?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="width: 80%; margin: auto; margin-top: 15px;">
    <img style="-webkit-filter: drop-shadow(2px 2px 2px #222); filter: drop-shadow(2px 2px 2px #222);" src="../../../assets/plant-icons/{{plantLel?.url}}.png">
  </ion-card>
  
  <ion-progress-bar style="width: 80%; margin: auto; margin-top: 25px;" [value]="progress"></ion-progress-bar>

  <ion-label class="ion-text-center" style="position: absolute; left: 50%; transform: translate(-50%); margin-top: 5px;">{{ this.plantLel?.water }}%</ion-label>

  <ion-button style="margin-top: 35px; margin-left: 35px; margin-right: 35px;" [disabled]="this.canBeWatered==false" (click)="waterPlant()" expand="block" shape="round">
    Water Plant
  </ion-button>

  <ion-grid style="width: 95%; margin-top: 10px;">
    <ion-row>
      <ion-col size="6"> <!-- Damage, Block, KD -->
        <ion-card style="margin-right: 0;">
          <ion-item lines="none">
            <ion-icon style="margin-right: 4px;" id="click-damage" slot="start" src="assets/tab-icons/fight.svg"></ion-icon>
            <ion-label style="margin-right: 4px;" class="ion-text-wrap ion-text-center">{{ plantLel?.damage }} (+ {{ (plantLel?.level * ((plantLel?.damage / 100) * 3)).toFixed(1) }})</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon id="click-defense" slot="start" src="assets/icon/shield.svg"></ion-icon>
            <ion-label class="ion-text-center">{{ plantLel?.defense }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon id="click-kd" slot="start" src="assets/icon/skull.svg"></ion-icon>
            <ion-label class="ion-text-center">{{ (plantLel?.wins/plantLel?.losses).toFixed(1) }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6"> <!-- Active Since, Last Drought, Level -->
        <ion-card style="margin-left: 0;">
          <ion-item lines="none">
            <ion-icon id="click-level" slot="start" src="assets/icon/level.svg"></ion-icon>
            <ion-label class="ion-text-center">{{ plantLel?.level }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon id="click-hp" slot="start" src="assets/icon/hp.svg"></ion-icon>
            <ion-label class="ion-text-center">{{ (plantLel?.health) }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon id="click-alive" slot="start" src="assets/icon/alive.svg"></ion-icon>
            <ion-label class="ion-text-wrap ion-text-center">{{ plantLel?.born | timeAgo }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <h2 (click)="logout()">logout</h2>
  <h2 (click)="createPlant()">create plant</h2>
  <h2 (click)="createDesertPlant()">create desert plant</h2>
  <h2 (click)="createTropicalPlant()">create tropical plant</h2>
  <ion-button [disabled]="this.canBeWatered==false" (click)="waterPlant()" expand="block" shape="round">
    Water Plant
  </ion-button>
  <h2 (click)="stats()">get user stats</h2> -->
  <ion-popover trigger="click-damage" triggerAction="click">
    <ng-template> 
      <ion-content class="ion-padding ion-text-center">Damage</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="click-defense" triggerAction="click">
    <ng-template> 
      <ion-content class="ion-padding ion-text-center">Defense</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="click-kd" triggerAction="click">
    <ng-template> 
      <ion-content class="ion-padding ion-text-center">KD</ion-content>
    </ng-template>
  </ion-popover> 

  <ion-popover trigger="click-level" triggerAction="click">
    <ng-template> 
      <ion-content class="ion-padding ion-text-center">Level</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="click-alive" triggerAction="click">
    <ng-template> 
      <ion-content class="ion-padding ion-text-center">Alive since</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="click-hp" triggerAction="click">
    <ng-template> 
      <ion-content class="ion-padding ion-text-center">Health Points</ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
