<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>plant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">plant</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2 (click)="logout()">logout</h2>
  <h2 (click)="createPlant()">create plant</h2>
  <h2 (click)="createDesertPlant()">create desert plant</h2>
  <h2 (click)="createTropicalPlant()">create tropical plant</h2>
  <ion-button [disabled]="this.canBeWatered==false" (click)="waterPlant()" expand="block" shape="round">
    Water Plant
  </ion-button>
  <h2 (click)="stats()">get user stats</h2>
</ion-content>
